apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ytdlq
spec:
  storageClassName: nfs-storage
  accessModes: [ReadWriteMany]
  resources:
    requests:
      storage: 100Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ytdl-config
spec:
  storageClassName: nfs-storage
  accessModes: [ReadWriteMany]
  resources:
    requests:
      storage: 100Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis
spec:
  storageClassName: nfs-storage
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 1Gi
